<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/tabs" tab="/tabs"> <!-- anasayafa Ürünler  button yeri  -->
      <ion-icon name="bag-add-outline"></ion-icon>
        <ion-label>
          Ürünler 
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/baskets" tab="/tabs/baskets"> <!-- anasayafa sepet button yeri  -->
      <ion-icon name="cart"></ion-icon>
        <ion-label>
          Sepet
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/ordering" tab="/tabs/ordering"> <!-- anasayafa ürünlerin button yeri  -->
      <ion-icon name="bag-remove-outline"></ion-icon>
        <ion-label>
          Siparişler
        </ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>